.cart {
  padding: 3rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .titleCart {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
  .wrapperCart {
    display: flex;
    flex-direction: column;
    align-items: center;

    .kisaItem {
      width: 29rem;
      height: 8.1rem;
      background-color: #71a5f7;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      border-radius: 0.625rem;
      margin-bottom: 1rem;

      .photo {
        width: 6.25rem;
        height: 6.25rem;
        border-radius: 0.625rem;
      }

      .name {
        font-family: "Rubik Bubbles";
        font-size: 1.5rem;
        color: #333;
        font-weight: bold;
      }
    }

    @media screen and (max-width: 475px) {
      .kisaItem {
        width: 15rem;
        height: 15rem;
        flex-direction: column;
      }
    }
  }

  .containerForm {
    font-size: 1.2rem;

    .formCart {
      display: flex;
      flex-direction: column;
      padding: 1.25rem;
      max-width: 45rem;
      min-width: 15.25rem;
      text-align: center;

      .contentForm {
        margin-bottom: 0.625rem;
        text-align: start;
      }

      .formData {
        font-size: 1.2rem;

        margin-bottom: 1.25rem;
        padding: 0.625rem 1.125rem;
        border-color: rgba(113, 165, 247, 0.9);
        font-family: "Raleway", sans-serif;
        resize: none;
      }
    }
  }
}
