.sm {
  background: linear-gradient(0deg, rgb(113 165 247 / 0%) 0%, #e8eaf6 100%);
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  border-radius: 0.5rem;
  border: none;
  padding: 0.3rem;

  &:hover {
    box-shadow: inset -4px -4px 6px 0 rgba(246, 246, 246, 0.2),
      inset 2px 2px 4px 0 rgba(0, 0, 0, 0.4);
    cursor: pointer;

    .iconPaw {
      color: red;
    }
  }
}

.md {
  background: linear-gradient(0deg, rgb(113 165 247 / 0%) 0%, #e8eaf6 100%);
  width: 12.5rem;
  height: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-size: 1.1rem;
  border: none;

  &:hover {
    box-shadow: inset -4px -4px 6px 0 rgba(246, 246, 246, 0.2),
      inset 2px 2px 4px 0 rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }

  &:disabled {
    cursor: default;
    box-shadow: none;
  }
}

.lg {
  background: linear-gradient(0deg, rgb(113 165 247 / 0%) 0%, #e8eaf6 100%);
  width: 22rem;
  height: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-size: 1.1rem;
  border: none;

  &:hover {
    box-shadow: inset -4px -4px 6px 0 rgba(246, 246, 246, 0.2),
      inset 2px 2px 4px 0 rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }
}
