.kisaContainer {
  width: 15.625rem;
  height: 21.875rem;
  background-color: #71a5f7;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .photoContainer {
    width: 15.625rem;
    height: 16.25rem;

    .photoKisa {
      width: 100%;
      height: 100%;
    }
  }

  .infoKisa {
    font-family: "Rubik Bubbles";
    font-size: 1.5rem;
    color: #333;
  }
}
