.header {
  height: 3.8rem;
  background-color: #71a5f7;
  position: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  z-index: 10;
  top: 0;
  left: 0;
  box-sizing: border-box;

  .containerMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .navMenu {
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0;
      color: #333;
      height: 100%;

      .categoryLink {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #333;
        transition: all 0.5s ease-in-out;
        height: 100%;

        .category {
          list-style: none;
          margin: 0 3.125rem 0;
          cursor: pointer;
          display: flex;
          align-items: center;
        }

        .cartImg {
          font-size: 1.3rem;

          .iconCart {
            color: #333;
            margin-left: 0.2rem;
          }
        }
      }

      .categoryLink:hover {
        background-color: rgba(51, 51, 51, 0.1);
        color: rgb(255, 255, 255);
        transition: all 0.3s ease-in-out;

        .category {
          transform: scale(1.05);
        }

        .iconCart {
          color: red;
        }
      }
    }

    @media screen and (max-width: 1150px) {
      .navMenu {
        position: absolute;
        flex-direction: column;
        justify-content: start;
        top: 3.7rem;
        left: -100%;
        width: 100%;
        height: 100vh;
        transition: 0.4s;
        z-index: 2;
        background-color: #71a5f7;
        text-align: center;

        .categoryLink {
          display: flex;
          align-content: center;
          justify-content: center;
          align-items: center;
          padding: 1.5rem 0;
          width: 100%;
          height: 4rem;
          border-bottom: 1px solid #eee;
        }

        .categoryLink:hover {
          transform: none;

          .category:hover {
            color: rgb(255, 255, 255);

            .iconCart {
              color: red;
            }
          }
        }
      }

      .navMenu.active {
        left: 0;
      }
    }
  }

  .hamburger {
    display: none;
    cursor: pointer;
    padding-right: 1rem;

    .hamburgerIcon {
      size: 20;
      color: #333;
    }

    @media screen and (max-width: 1150px) {
      display: flex;
    }
  }

  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    padding-left: 1rem;

    .logoImg {
      .iconCat {
        margin-right: 0.25rem;
        font-size: 1.9rem;
        color: #333;
      }
    }
  }

  .logoName {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    .logoKisa {
      font-family: "Rubik Bubbles";
      font-size: 1.8rem;
      color: #333;
      transition: all 0.3s ease-in-out;
    }

    .logoHouse {
      font-size: 1.7rem;
      color: #333;
      transition: all 0.3s ease-in-out;
    }
  }

  .logoName:hover {
    .logoKisa {
      color: #fc74e8;
    }
    .logoHouse {
      color: #b5e1ff;
    }
  }
}

.link {
  text-decoration: none;
}
