#video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  position: absolute;
}

.videoContainer {
  height: 100vh;
  width: 100%;
  object-fit: contain;
  z-index: 1;
}

.videoText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 15;
  font-family: "Rubik Bubbles";
  font-size: 2rem;
  height: 68vh;
  color: rgba($color: #ffffff, $alpha: 0.9);
  padding: 0 20px;
  z-index: 1;

  .leftTxt {
    margin-bottom: 45px;
  }
}

@media screen and (max-width: 1151px) {
  .videoText {
    flex-wrap: wrap;
    flex-direction: column;
    height: 85vh;
    padding: 3rem 1.25rem;

    .leftTxt {
      margin: 0;
    }
  }
}
