.footer {
  width: 100%;
  height: 9.5rem;
  padding: 1rem 0;
  background-color: #71a5f7;

  .ftrContainer {
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 5rem;

    .ftrLeft {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 1rem 0;

      .ftrTitle {
        margin: 1rem;
        color: #333;
      }

      .ftrContent {
        margin-bottom: 0.6rem;
      }
    }

    .ftrRight {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;

      .ftrLink {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #333;
      }

      .ftrIcon {
        margin-right: 0, 25rem;
        font-size: 1.25rem;
      }

      .ftrLink:hover {
        color: rgb(255, 255, 255);
        transition: 0.2s ease;

        .ftrIcon {
          color: red;
        }
      }
    }
  }
}
