.infoKisa {
  padding: 2.8rem;

  .infoTop {
    display: flex;
    justify-content: space-evenly;

    .infoPhotoContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #71a5f7;
      width: 34.4rem;
      height: 34.4rem;

      .infoPhoto {
        width: 31.25rem;
        height: 28.2rem;
        margin-bottom: 1.25rem;
      }
    }

    .infoMain {
      font-size: 1.3rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }
}

.infoBottom {
  display: flex;
  margin-top: 1.875rem;
  font-size: 1.3rem;

  .infoBottomWrapper {
    display: flex;
    flex-direction: column;
    margin: 1.25rem;
    text-align: center;
  }
}

.rubikText {
  font-family: "Rubik Bubbles";
}
